@import './src/common/styles/scss/Variables';

.contactsBlock {
  background-color: $bgColor;
  padding: 15px 0 15px 0;

  .container {
    height: 100%;
    width: 80%;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    .form {
      background: $bgColor;
      min-width: 300px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .input {
        margin-bottom: 5px;
      }
    }
  }
}






