.portfolioBlock {

    background-color: #b3a5bd;
    min-height: 100vh;
    padding: 15px 0 15px 0;




}

.container {
    border: 1px solid;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

}

.projects {
    background: #98bda0;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

