@import './src/common/styles/scss/Variables';

.skillsBlock {
  background-color: $bgColor;
  padding: 15px 0 15px 0;

  .container {
    padding: 10px 0;
    height: 100%;
    width: 80%;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    min-height: 300px;

    .skills {
      width: 100%;
      flex-wrap: wrap;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

  }
}





