.mainBlock{
    min-height: 100vh;
    background-color: bisque;
    padding: 15px 0 15px 0;


}

.text{
    width: 350px;
    background-color: #938ebb;
}

.photo{
    width: 300px;
    height: 400px;
    background-color: #90b1bb;
}

