.footerBlock {

    background-color: #93b394;
    height: 100px;
    padding: 15px 0 15px 0;
    font-size: 10px;



}

.container {
    border: 1px solid;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding-left: 10px;
}

.footer {
    background: #836786;
    width: 100%;
    display: flex;
       justify-content: space-between;
    margin: 5px;




}


