@import './src/common/styles/scss/Variables';


.aboutMe {
  margin-top: 10px;
  background-color: $bgColor;
  min-height: 50vh;

  .container {
    border: 1px solid;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    .info {
      display: flex;
      align-items: center;
      justify-content: space-around;

      .img {
        border: 1px solid darkred;
        width: 40%
      }

      .text {
        border: 1px solid darkred;
        width: 30%;

        p {
          text-align: center;
          padding: 5px;
          font-family: 'Montserrat', sans-serif;
          font-size: 16px;
          font-weight: normal;
          letter-spacing: 0;
          line-height: 28px;
          margin: 0;
          color: $textColor;
        }
      }
    }


  }

}






